@import url(home.css);
/* give this classes to any element to apply style */
.flex_sp_bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_sp_ev{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
}
.flex_sp_arr{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topHeader{
    padding: 5px 60px;
    background-color: #ececec;
}
.inl_bl{
    display: inline-block;
    padding: 0 10px;
    border-right: solid 1px #ccc;
    overflow: hidden;
}
/* start - to remove default styles */
.bor_remo{
    border: none;
}
.back_remo{
    background-color: unset;
}
.sel{
    cursor: pointer;
}
.sel:focus{
    border: none;
    outline: none;
}
.a_norm{
    text-decoration: none;
    color: unset;
}
.li_norm{
    list-style-type: none;
}
/* end - to remove default styles */
.wi_100{
    width: 100px;
}
.no_wrap{
    white-space: nowrap;
}
.ft_si_14{
    font-size: 14px;
}
.upper{
    text-transform: uppercase;
}
.cap{
    text-transform: capitalize;
}
.middleHeader {
    padding: 5px 60px;
    background-color: #fff;
}
.logo{
    font-weight: 700;
    font-size: 40px;
    padding: 10px 0;
    text-shadow: 0 0 2px #00000050;
}
.col_gold{
    color: var(--var-main-color);
}
.sear_in{
    width: 400px;
    height: 30px;
    border: solid var(--var-main-color) 2px;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
}
.sear_in:focus{
    outline: none;
}
.sea_icon{
    background-color: var(--var-main-color);
    text-align: center;
    padding: 8.5px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: -7px;
    top: 0;
    cursor: pointer;
}
#myCart{
    position: relative;
}
#dot{
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
}
.ft_si_20{
    font-size: 20px;
}
.ft_w_600{
    font-weight: 600;
}
.ft_w_500{
    font-weight: 500;
}
.mar_side_10{
    margin: 0 10px;
}
.bottomHeader{
    padding: 10px 60px;
    background-color: var(--var-main-color);
    color: rgb(49, 49, 49);
}
.centerX{
    margin: 0 auto;
}
.fit_cont{
    width: fit-content;
}
.centerY_li{
    margin-top: 3.39px;
}
.switch{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(218, 165, 32, 0.4);
    top: calc(50% - 37.5px);
    left: 2%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    cursor: pointer;
    outline: var(--var-main-color) solid 1px;
    -webkit-backdrop-filter: blur(3.1px);
    backdrop-filter: blur(1.5px);
}
.switch::before{
    content: '';
    position: absolute;
    border: solid 5px;
    border-color: #fff transparent transparent #fff;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    top: 50%;
    left: 50%;
    margin-top: -10.14px;
    margin-left: -8.14px;
    cursor: pointer;;
}
.switch_right{
    right: 2%;
    left: unset;
    transform: rotate(180deg);
}
.btn{
    background-color: var(--var-main-color);
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 50px;
    font-size: 18px;
    font-weight: 450;
    color: #fff;
    box-shadow: 5px 5px 20px 0 #00000062;
    cursor: pointer;
}